<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="tests.LoginPageTests"/>
      <class name="tests.SurchargeTests"/>
      <class name="tests.CouponTests"/>
      <class name="tests.TaxCalculationTests"/>
      <class name="tests.PaymentTypeTests"/>
      <class name="tests.ServiceTypeTests"/>
      <class name="tests.MainPageTests"/>
      <class name="tests.CheckoutPageTests"/>
      <class name="tests.AccountPageTests"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
